<nav class="navbar navbar-expand-lg navbar-dark bg-success" style="margin-bottom:20px">
  <a class="navbar-brand" routerLink="/" href="#">Factuurtjes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">

        <a class="nav-link" routerLink="/" href="#"><i class="fa fa-file-text"></i> Factuur overzicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nieuw-factuur" href="#"><i class="fa fa-plus"></i> Nieuw factuur</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

