<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Nieuw factuur aanmaken
        <button (click)="generatePdf()" class="btn btn-primary pull-right"><i class="fa fa-file-pdf-o"></i> Exporteer naar PDF</button>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <fieldset class="form-group">
            <legend>Persoonlijk</legend>
            <div>
              <label for="name">Naam</label>
              <input class="form-control" [(ngModel)]="personalname" type="text" id="name">
            </div>
            <div>
              <label for="address">Adres</label>
              <input class="form-control" [(ngModel)]="personaladdress" type="text" id="address">
            </div>
            <div>
              <label for="postal">Postcode</label>
              <input class="form-control" [(ngModel)]="personalpostal" type="text" id="postal">
            </div>
            <div>
              <label for="city">Stad</label>
              <input class="form-control" type="text" [(ngModel)]="personalcity" id="city">
            </div>
            <div>
              <label for="city">Telefoon</label>
              <input class="form-control" type="text" [(ngModel)]="personalcellphone" id="cellphone">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <legend>Zakelijk</legend>
            <div>
              <label for="name">Rekening nummer.</label>
              <input class="form-control" type="text" id="invoice" [(ngModel)]="personalinvoice">
            </div>
            <div>
              <label for="deb">Deb. nummer</label>
              <input class="form-control" type="text" id="deb" [(ngModel)]="personaldeb">
            </div>
            <div>
              <label for="btw">BTW. nummer</label>
              <input class="form-control" type="text" id="btw" [(ngModel)]="personalbtw">
            </div>
            <div>
              <label for="iban">IBAN</label>
              <input class="form-control" type="text" id="iban" [(ngModel)]="personaliban">
            </div>
            <div>
              <label for="date">Datum</label>
              <input class="form-control" type="text" id="date" [(ngModel)]="date">
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <fieldset class="form-group">
          <legend>Klant Persoonlijk</legend>
          <div>
            <label for="name-customer">Naam</label>
            <input class="form-control" type="text" id="name-customer" [(ngModel)]="customername">
          </div>
          <div>
            <label for="address-customer">Adres</label>
            <input class="form-control" type="text" id="address-customer" [(ngModel)]="customeraddress">
          </div>
          <div>
            <label for="postal-customer">Postcode</label>
            <input class="form-control" type="text" id="postal-customer" [(ngModel)]="customerpostal">
          </div>
          <div>
            <label for="city-customer">Stad</label>
            <input class="form-control" type="text" id="city-customer" [(ngModel)]="customercity">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend>Klant Zakelijk</legend>
          <div>
            <label for="btw-customer">BTW nummer</label>
            <input class="form-control" type="text" id="btw-customer" [(ngModel)]="customerbtw">
          </div>
        </fieldset>
      </div>
    </div>
      <hr>
      <div class="card">
        <div class="card-body">
          <fieldset class="form-group">
            <legend>Product specificatie <button (click)="deleteCart()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></legend>
            <form (ngSubmit)="addProduct()">
              <div *ngIf="error" class="alert alert-danger"><i class="fa fa-warning"></i> Er is iets niet goed ingevuld</div>
              <div class="row">
                <div class="col-md-2">
                  <input type="number" name="productamount" minlength="1" value="1" required class="form-control" [(ngModel)]="productamount" placeholder="Aantal">
                </div>
                <div class="col-md-5">
                  <input type="text" name="productinfo" required class="form-control" [(ngModel)]="productinfo" placeholder="Product informatie">
                </div>
                <div class="col-md-2">
                  <input type="number" name="productprice" minlength="0.01" value="0.01" required class="form-control" [(ngModel)]="productprice" placeholder="Prijs">
                </div>
                <div class="col-md-2">
                  <button type="submit"  class="btn btn-primary">Toevoegen</button>
                </div>
              </div>
            </form>
            <ul class="product-list">
              <li *ngFor="let product of products"> <small class="delete-product" (click)="deleteFull(product.info, product.price)"><i class="fa fa-trash"></i></small> <small class="delete-product" (click)="deleteProduct(product.info, product.price)"><i class="fa fa-times"></i></small> <span>{{ product.amount }}</span> x <span>{{ product.info }}</span> <span class="pull-right">&euro; {{ product.price.toLocaleString() }}</span></li>
            </ul>
          </fieldset>
          <ul class="product-list">
            <li>Totaal: <span class="pull-right">&euro; {{ calculateFull().toLocaleString() }}</span></li>
          </ul>
          <hr>
          <ul class="product-list">
            <li>BTW ({{ configuration.business.tax}}%): <span class="pull-right">&euro; {{ calculateTax().toLocaleString() }}</span></li>
            <li>Subtotaal: <span class="pull-right">&euro; {{ calculateTotal().toLocaleString() }}</span></li>
          </ul>
        </div>
      </div>
  </div>



  </div>
</div>