<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
           <h3>Factuur overzicht</h3>
            <p>Onderstaand een tabel met alle facturen</p>
        </div>
    </div>
</div>